<div class="left-menu">
  <div class="close text-right">
    <i class="fa fa-angle-double-left" aria-hidden="true" ng-click="close()"></i>
  </div>
  <div class="top">
    <div class="ava">
      <img src="{{ $root.uphoto }}">
    </div>
    <div class="name">{{ $root.firstName }} {{ $root.lastName  }}</div>
  </div>
  <div class="menu">
    <ul>
      <li><a href="/#/"><i class="fa fa-calendar-o" aria-hidden="true"></i>Calendar</a></li>
      <li><a href="/#/todolist"><i class="fa fa-list" aria-hidden="true"></i>To do board</a></li>
      <li><i class="fa fa-pencil" aria-hidden="true"></i>Notes</li>
    </ul>
    <ul>
      <li><a href="http://vk.com/id32682972" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i>Help</a></li>
      <li><a href="http://vk.com/id32682972" target="_blank"><i class="fa fa-comment" aria-hidden="true"></i>Feedback</a></li>
    </ul>
  </div>
</div>
