
<header class="row">
  <div class="col-sm-2 col-xs-12 text-center">
    <i class="fa fa-bars" aria-hidden="true" ng-click="openMenu()"></i>
    PlaneIT
    <img src="../images/232663696.png">
  </div>
  <div class="col-sm-8 col-xs-12 head  text-center">
    To do board
  </div>
</header>

<div class="container content">
  <div class="row board">
    <div class="col-sm-4 col-xs-12" ng-repeat="event_item in events">
      <div class="event">
        <div class="date">{{ event_item.date.getDate() }} {{ monthNames[event_item.date.getMonth()] }}</div>
        <div class="time">{{ event_item.date.getHours() }}:{{ event_item.date.getMinutes() }}</div>
        <div class="event-description">{{ event_item.description }}</div>
        <div class="action" ng-click="Skip(event_item.id)">Skip</div>
      </div>
    </div>
    <div class="add-event"><i class="fa fa-plus" aria-hidden="true"></i></div>
  </div>
</div>
